{
    "logging": true,
    "logpath": "script",
    "zipper": "C:\\Program Files\\7-Zip\\7z.exe",
    "light": "2C7293C084D09BC2E3AE2D066DD7B331C810D9E2EECA8B236A8E87FDEB18E877B948747D3491FCAFF245816507685250BD35F984C67A43B29B0AE31ECB2BD628",
    "secure_string": "AA7C8C23FDB930DD32D28382B7505E6C50F0E1B8D7076F722599C7A0F5859303F0A8F652188C935B694B83D07D8DCE5A5517F69E72187020FAB62E12F022C3AC",
    "providers": [
        {
            "name": "yandex",
            "token": "<TOKEN>"
        },
        {
            "name": "dropbox",
            "token": "<TOKEN>"
        },
        {
            "name": "mailru",
            "token": "<TOKEN>"
        },
        {
            "name": "local",
            "path": "<DEFAULT_PATH_FOR_BACKUPS REMEMBER ABOUT DOUBLE BACKSLASHES \\>"
        }
    ]
}